@import "tailwindcss";

@theme {
    --breakpoint-xs: 375px;
}

input {
    @apply border border-gray-500 rounded;
}

.aLink {
    @apply hover:text-blue-600;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
