@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --breakpoint-xs: 376px;
    --breakpoint-md: 769px;
    --font-rubik: 'Rubik', sans-serif;
}

input {
    @apply border border-gray-500 rounded;
}

.aLink {
    @apply hover:text-blue-600 duration-300 transition-colors;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.error {
    @apply text-red-500 text-xs mt-1
}

