body * {
    font-family: "Rubik", sans-serif;
}

:root {
    --purple-color: #A729F5;
    --first-deep-blue-color: #313E51;
    --second-deep-blue-color: #3B4D66;
    --deep-grey-color: #626C7F;
    --sky-blue-color: #ABC1E1;
    --deep-white-color: #F4F6FA;
    --white-color: #FFFFFF;
    --green-color: #26D782;
    --red-color: #EE5454;
}
